{% load static %}
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-{{product.pk}}" class="single-product">
            <div class="part-1">
                    <ul>
                            <li><a href="{{product.get_absolute_url}}"><i class="fa-solid fa-info"></i></a></li>
                            <li><a href="#"><i class="fas fa-plus"></i></a></li>
                            <li><a href="#"><i class="fas fa-expand"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title"><a style="text-decoration:none; color:#505050;" href="{{product.get_absolute_url}}">{{product|truncatewords:10}}</a></h3>
                    <h4 style="font-weight: 700;  color:#de6363;" class="product-price">${{product.price}}</h4>
            </div>
    </div>
</div>

{% if product.photo %}
<style>
        .section-products #product-{{product.pk}} .part-1::before {
        background: url("{{product.photo.url}}") no-repeat center;                
        }
</style>
{% else %}
<style>
        .section-products #product-{{product.pk}} .part-1::before {
        background: url("{% static 'store/images/no-image.jpg' %}") no-repeat center;
        }                      
</style>
{% endif %}