
.list-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 100%;
    padding: 0 10px;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}

#product-menu{
    display: flex;
    gap: 20px;
}

#product-options{
    width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.choices__group {
    padding: 15px 0;
}

.choices__group .choice__title {
    text-transform: uppercase;
    color: #de6363;
    padding-left: 20px;
}

.choices__group .form-check{
    padding: 5px 0;
    padding-left: 40px;
    color: rgb(90, 90, 90);
}

.products-container {
    width: 100%;
}

.choices__group input {
    display: none;
}