{% extends 'store/main.html' %}

{% block title %}Store{% endblock %}

{% block content %}

<style>
    .home {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="home">    
    <div>
        <ul>
            {% for product in products %}
            <li>
                <h3><a href="{{product.get_absolute_url}}">{{product}}</a></h3>
                <p>Categories:</p>
                    {% for category in product.categories.all %}
                    <span><a href="{{category.get_absolute_url}}">{{category}}</a></span>
                    {% endfor %}
                <ul>
                    <li><h3>Price: {{product.price}}</h3></li>
                </ul>
            </li>

            {% endfor %}
        </ul>
    </div>
    <div>
        <ul><li><a href="">add Product</a></li></ul>
    </div>
</div>
{% endblock %}