{% extends 'store/main.html' %}
{% load custom_tag %}
{% block title %}Store{% endblock %}

{% block content %}
    <section class="section-products">
        <div class="container">
                <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                    {% if category_slug %}
                                        <h3>Featured Product</h3>
                                        <h2>{{category_name}}</h2>
                                    {% else %}
                                        <h3>Featured Product</h3>
                                        <h2>All collections</h2>
                                    {% endif %}
                                </div>
                        </div>
                </div>
                <div class="row" id="products-list">
                    {% include 'store/show_products.html' %}
                </div>
                {% if num_pages > 1 %}
                <div class="list-footer">
                    <button id="more-btn" class="btn btn-outline-dark btn-rounded">More</button>
                </div>

                {% endif %}
        </div>
    </section>

    {% if num_pages > 1 %}
    <script>
        var nextPage = 2   
        const moreBtn = document.getElementById('more-btn')
        const productsContainer = document.getElementById('products-list')

        moreBtn.onclick = (e) => {
            e.preventDefault()
            // paginator
            "{% if category_slug %}"
            url = "{% url 'store:get_more_products_by_category' category_slug %}" + `?page=${nextPage}`      
            "{% else %}"
            url = `{% url 'store:get_more_products' %}?page=${nextPage}`
            "{% endif %}"

            fetchAPI({
                url: url,
                requestInit: {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                },
                onSuccess: (data) => {
                    if (data == ''){
                        moreBtn.remove()
                        // update add to cart btn for new 
                        updateBtn(false)
                    }
                    else {
                        updateBtn(true)
                        productsContainer.insertAdjacentHTML("beforeend",data)
                        var addBtns = [...document.getElementsByClassName('add-product-btn')]
                        updateAddBtn(addBtns)
                    }
                    
                },
                onError: (error) => {
                    toast({
                        containerSelector: '#toast',
                        title: error.status || 'error',
                        body: error.statusText || error,
                        type: 'error',
                        duration: 5000
                    })
                }
            })
            function updateBtn(success) {
                if (nextPage >= Number("{{num_pages}}"))
                    moreBtn.remove()
                if (success)
                    nextPage += 1
            }
        }
    </script>
    {% endif %}
{% endblock %}