<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 main-cart-right">
    <ul class="list-group">
        <li class="list-group-item title">ĐƠN HÀNG</li>
        <li class="list-group-item divider"></li>

                                                <li class="list-group-item text-1">
                <span class="title-6">Urbas Irrelevant NE - Low Top - Storm/A.Gold</span>
                <span class="title-6-1">650.000 VND</span>
            </li>
            <li class="list-group-item text-1-1">
                <span class="title-6-2">Size: 41</span>
                <span class="title-6-3">x 6</span>
                                    </li>
            <div class="listProductFromCart"
                 data-id="695530"
                 data-size="41"
                 data-quantity="6">
            </div>
                                            <li class="list-group-item divider-1"></li>
            <li class="list-group-item text-1">
                <span class="title-3">Đơn hàng</span>
                <span class="title-3-1"><span
                            class="current-price"> 3.900.000</span> VND</span>
            </li>
            <li class="list-group-item text-2-2">
                <span class="title-3">Giảm</span>
                <span class="title-4-1">- <span
                            class="discount">0</span> VND</span>
            </li>
            <li class="list-group-item text-2-3">
                <span class="title-21">Phí vận chuyển</span>
                <span class="title-22"><span class="shipping-fee">0</span> VND</span>
            </li>
            <li class="list-group-item text-2-3">
                <span class="title-21">Phí thanh toán</span>
                <span class="title-22"><span class="card-fee">0</span> VND</span>
            </li>

            <li class="list-group-item divider-1"></li>
            <li class="list-group-item">
                <span class="title-5">TỔNG CỘNG</span>
                <span class="title-5-2"><span
                            class="total-price">3.900.000</span> VND</span>
            </li>
            <li class="list-group-item">
                <button
                        data-href="https://ananas.vn/order-completed/"
                        class="btn btn-cart btn-complete-detail "
                >HOÀN TẤT ĐẶT HÀNG
                </button>
            </li>
                    </ul>
</div>