{% extends 'checkout/main.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

<section class="h-100 h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-0">
        <div class="card card-registration card-registration-2" style="border: none;">
          <div class="card-body p-0">
            <div class="row g-0">
                {% include 'checkout/cart_detail.html' %}
                {% include 'checkout/checkout_detail.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}