
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1" style="color: #de6363;">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">items 3</h5>
                      <h5>€ 132.00</h5>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Shipping</h5>
  
                    <div class="mb-4 pb-2">
                      <select class="select">
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Give code</h5>
                    <form id="checkout-form" method="GET">
                      <div class="mb-5">
                        <div class="form-outline">
                          <div class="form__group">
                            <input type="text" id="id_coupon_code" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                            <span class="form__message"></span>
                          </div>
                        </div>
                      </div>
    
                      <hr class="my-4">
                      
                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>€ 137.00</h5>
                      </div>
    
                      <button type="submit" class="btn btn-block btn-lg form__button"
                      style="width: 100%; color: white; background-color: #de6363;">Checkout</button>
                    </form>
                  </div>
                </div>

<script>
  validator({
    formSelector:'#checkout-form',
    errorSelector:'.form__message',
    errorClass: 'invalid',
    ruleOptions: [
    ],
    onSubmit: (data) => {
      let url = "{% url 'checkout:order_detail' %}"
      window.location.replace(url)
    }
  })
</script>