{% extends 'checkout/main.html' %}

{% block title %}Order detail{% endblock %}
{% block content %}
<div id="order-container">

                    <form method="POST" id="order-form" class="form">
                        {% csrf_token %}
                        <h1 class="form__title">Shipping detail</h1>
                        {% for field in form %}
                        <div class="form__group">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            <input id="{{field.id_for_label}}" type="{{field.field.widget.input_type}}" name="{{field.name}}">
                            <span class="form__message"></span>
                            <span class="form__error"></span>
                        </div>
                        {% endfor %}
                        <button type="submit" class="form__button" id="form__login">Place order</button>
                    </form>

        <div id="cart-summarize">
            <h3 class="cart__title">ORDER</h3>
            
            <ul class="list__group">
                <hr class="boldline">
                <li class="group__item">
                    <span class="item important">Urbas Irrelevant NE - Low Top - Storm/A.Gold</span>
                    <span class="item__detail">650.000 VND</span>
                </li>
                <li class="group__item">
                    <span class="item">Size: 40</span>
                    <span class="item__detail">x 6</span>
                </li>
    
                <hr class="pseudoline">
    
                <li class="group__item">
                    <span class="item important">Urbas Kimiasde NE - Low Top - Storm/A.Gold</span>
                    <span class="item__detail">650.000 VND</span>
                </li>
                <li class="group__item">
                    <span class="item">Size: 45</span>
                    <span class="item__detail">x 8</span>
                </li>
                <hr class="pseudoline">
                <hr class="dashline">
                <hr class="pseudoline">

                <li class="group__item">
                    <span class="item">Cart total</span>
                    <span class="item__detail important">4.123.000 VND</span>
                </li>
    
                <li class="group__item">
                    <span class="item">Discount</span>
                    <span class="item__detail">43.000 VND</span>
                </li>
    
                <li class="group__item">
                    <span class="item important">Shipping cost</span>
                    <span class="item__detail important">0 VND</span>
                </li>
                <hr class="pseudoline">
                <hr class="dashline">
                <hr class="pseudoline">
                <hr class="pseudoline">

                
                <li class="group__item">
                    <span class="item important" style="font-size: 25px;">Total cost</span>
                    <span class="item__detail totalcost" style="font-size: 25px;">5.334.000 VND</span>
                </li>
    
            </ul>

        </div>
    
</div>

<script>
    validator({
                formSelector:'#order-form',
                errorSelector:'.form__message',
                errorClass: 'invalid',
                ruleOptions: [
                    validator.isRequired('#id_first_name', 'This field is required'),
                    validator.isRequired('#id_last_name', 'This field is required'),
                    validator.minLength('#id_phone', 8, 'At least 8 character length'),
                    validator.isRequired('#id_phone', 'This field is requuired'),
                ],
    })
</script>
{% endblock %}