{% extends 'account/main.html' %}

{% block title %}Password change{% endblock %}

{% block content %}
<div class="content__form">
    <div class="form-container">
        <form method="POST" id="password-change-form" class="form">
            {% csrf_token %}
            <h1 class="form__title">Password change</h1>
            {% for field in form %}
            <div class="form__group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <input id="{{field.id_for_label}}" type="{{field.field.widget.input_type}}" name="{{field.name}}">
                <span class="form__message"></span>
                <span class="form__error"></span>
            </div>
            {% endfor %}
            <button type="submit" class="form__button" id="form__login">Change</button>
        </form>
    </div>
</div>

<script>
    validator({
        formSelector:'#password-change-form',
        errorSelector:'.form__message',
        errorClass: 'invalid',
        ruleOptions: [
            validator.isRequired('#id_old_password', 'This field is required'),
            validator.isRequired('#id_new_password1', 'This field is required'),
            validator.isRequired('#id_new_password2', 'This field is required'),
            validator.minLength('#id_old_password', 8, 'At least 8 character length'),
            validator.minLength('#id_new_password1', 8, 'Input at least 8 characters'),
            validator.minLength('#id_new_password2', 8, 'Input at least 8 characters'),
            validator.differ('#id_new_password1', '#id_old_password', 'New password must be different from old password'),
            validator.confirm('#id_new_password2', '#id_new_password1', 'Confirm password incorrect')
        ],
        onSubmit: (data) => {
            var formData = new FormData()
            for (let key in data )
                formData.append(key,data[key])

            fetchAPI({
                url: "{% url 'account:password_change_request' %}",
                requestInit:{
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFtoken': csrftoken,
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    origin: 'same-origin'
                },
                onSuccess: (data) => {
                    switch(data.status){
                        case 'ok':
                            location.replace("{% url 'account:login' %}")
                            break

                        case 'error':
                            toast({
                                containerSelector: '#toast',
                                title: 'Error',
                                body: 'Incorrect password',
                                type: 'error',
                                duration: 5000
                            })
                            showFormError({
                                formSelector: '#password-change-form',
                                errorSelector: '.form__error',
                                errors: data.errors,
                                errorClass: 'invalid',
                            })
                            break
                    }
                },
                onError(error) {
                    toast({
                        containerSelector: '#toast',
                        title: error.status || 'error',
                        body: error.statusText || error,
                        type: 'error',
                        duration: 5000
                    })
                }
            })
        }
    })
</script>
{% endblock %}