{% extends 'account/main.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="content__form">
    <div class="form-container">
        <form method="POST" id="password-reset-form" class="form">
            {% csrf_token %}
            <h1 class="form__title">reset password</h1>
            {% for field in form %}
            <div class="form__group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <input id="{{field.id_for_label}}" type="{{field.field.widget.input_type}}" name="{{field.name}}">
                <span class="form__message"></span>
                <span class="form__error"></span>
            </div>
            {% endfor %}

            <button type="submit" class="form__button" id="form__login">Send</button>
        </form>
    </div>

    <script>
        validator({
            formSelector:'#password-reset-form',
            errorSelector:'.form__message',
            errorClass: 'invalid',
            ruleOptions: [
                validator.isRequired('#id_email', 'This field is required'),
                validator.isEmail('#id_email', 'Invalid email address')
            ],
            onSubmit: (data) =>{
                var formData = new FormData()
                for (let key in data)
                    formData.append(key, data[key])

                fetchAPI({
                    url: "{% url 'account:password_reset_request' %}",
                    requestInit: {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFtoken': csrftoken,
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        origin: 'same-origin'
                    },
                    onSuccess: (data) => {
                        switch(data.status){
                            case 'ok':
                                createDirectionBoard({
                                    selector: 'replace-form',
                                    type: 'success',
                                    title: 'Email sent',
                                    body: 'An instruction for setting your password has been sent to your emal.\n You will see it soonly if your account is connected to this email.',
                                    link: 'https://mail.google.com/',
                                    linkName: 'Google mail',
                                    toReplaceSelector: '#password-reset-form',
                                })
                                break
                            case 'error':
                                toast({
                                    containerSelector: '#toast',
                                    title: 'error',
                                    body: 'Account not found',
                                    type: 'error',
                                    duration: 5000
                                })
                                break
                        }
                    },
                    onError: (error) => {
                        console.log(error)
                        toast({
                            containerSelector: '#toast',
                            title: error.status || 'Error',
                            body: error.statusText || error,
                            type: 'error',
                            duration: 5000
                        })
                    }
                })
            }
        })
    </script>
</div>
{% endblock %}