{% extends 'account/main.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="content__form">
    <div class="form-container">
        <form method="POST" id="register-form" class="form">
            {% csrf_token %}
            <h1 class="form__title">Sign up</h1>
            {% for field in form %}
            <div class="form__group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <input id="{{field.id_for_label}}" type="{{field.field.widget.input_type}}" name="{{field.name}}">
                <span class="form__message"></span>
                <span class="form__error"></span>
            </div>
            {% endfor %}
            <button type="submit" class="form__button" id="form__login">Sign up</button>
        </form>
    </div>
</div>
    <script>
        validator({
            formSelector:'#register-form',
            errorSelector:'.form__message',
            errorClass: 'invalid',
            ruleOptions: [
                validator.isRequired('#id_username', 'This field is required'),
                validator.minLength('#id_username', 5, 'At least 5 character length'),
                validator.isRequired('#id_password', 'This field is requuired'),
                validator.minLength('#id_password', 8, 'Input at least 8 characters'),
                validator.isRequired('#id_password_confirm', 'This field is requuired'),
                validator.minLength('#id_password_confirm', 8, 'Input at least 8 characters'),
                validator.isRequired('#id_email', 'This field is required'),
                validator.isEmail('#id_email', 'Invalid email address'),
                validator.confirm('#id_password_confirm', '#id_password', 'Confirm password incorrect')
            ],
            onSubmit: (data) => {
                var formData = new FormData()
                for (let key in data) 
                    formData.append(key, data[key])

                fetchAPI({
                    url: "{% url 'account:register_request' %}",
                    requestInit:{
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFtoken': csrftoken,
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        origin: 'same-origin'
                    },
                    onSuccess: (data) => {
                        switch (data.status) {
                            case 'ok':
                                createDirectionBoard({
                                    selector: 'replace-form',
                                    type: 'success',
                                    title: 'Email sent',
                                    body: 'An email was send to your email address for activate your account.',
                                    link: 'https://mail.google.com/',
                                    linkName: 'Google mail',
                                    toReplaceSelector: '#register-form',
                                })
                                toast({
                                    containerSelector: '#toast',
                                    title: 'Account created',
                                    body: 'Create account successfully',
                                    type: 'success',
                                    duration: 5000
                                })
                                break
                            case 'error':
                                toast({
                                    containerSelector: '#toast',
                                    title: 'Error',
                                    body: 'Invalid user information',
                                    type: 'error',
                                    duration: 5000
                                })
                                showFormError({
                                    formSelector: '#register-form',
                                    errorSelector: '.form__error',
                                    errors: data.errors,
                                    errorClass: 'invalid',
                                })
                                break
                        }
                    },
                    onError(error) {
                        toast({
                            containerSelector: '#toast',
                            title: error.status || 'error',
                            body: error.statusText || error,
                            type: 'error',
                            duration: 5000
                        })  
                    }
                })
            }
        })
    </script>
{% endblock %}