
#cart-container {
    position: fixed;
    right: 0;
    top: 56px;
    height: 100%;
    width: 400px;
    overflow: scroll;
    display: flex;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    background-color: aqua;
    z-index: 100000;
}

#cart-overlay {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

#cart-overlay.active{
    display: block;

}

#cart-container.active {
    transform: translateX(0%)
}


/* cart items */

