::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background: grey;
}

#cart-container {
    position: fixed;
    right: 0;
    top: 56px;
    height: 100%;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    z-index: 100000;
    background-color: #eee;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart-container::-webkit-scrollbar{
    width: 5px;
}
#cart-container::-webkit-scrollbar-track{
    background: white;
}

#cart-container::-webkit-scrollbar-thumb{
    width: 5px;
    background: grey;
}

#cart-overlay {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

#cart-overlay.active{
    display: block;

}

#cart-container.active {
    transform: translateX(0%)
}


/* cart items */

