{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
</head>

<div id="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="{% url 'store:products_list' %}">Shop</a></li>
            <li class="nav__item"><a href="">Contact</a></li>
            <li class="nav__item"><a href="">Category</a></li>
        </ul>

        <ul class="nav__list">
            <li id="nav__logo" class="nav__item"><a>ESHOP</a></li>
        </ul>

        <div class="nav__options">
            <ul class="nav__list">
                <li>
                    <form method="GET">
                    <div class="search-box">
                            <input type="text" name="search" class="search-txt">
                            <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    </form>
                </li>
                <li>
                    <ul class="nav__list">
                        <li><a class="user_avatar" href="#"><i class="fa-regular fa-user"></i></a></li>
                        <li class="subnav_conatainer">
                            {% if request.user.is_authenticated %}
                                <span data-selector="#subnav" id="subnav-btn"><a>{{request.user.get_name}} <i class="fa-solid fa-caret-down"></i></a></span>
                                <ul class="subnav" id="subnav">
                                    <li class="subnav__item">
                                        <a class="icon__group" href="">
                                        <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
                                        <span>Cart</span>
                                        </a>
                                    </li>

                                    <li class="subnav__item">
                                        <a class="icon__group" href="{% url 'account:logout' %}">
                                            <div class="icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                                            <span>Logout</span>
                                        </a>
                                    </li>

                                    <li class="subnav__item">
                                        <a class="icon__group" href="{% url 'account:register' %}">
                                            <div class="icon"><i class="fa-regular fa-address-card"></i></div>
                                            <span>Sign up</span>
                                        </a>
                                    </li>
                                </ul>
                            {% else %}
                            <span data-selector="#subnav" id="subnav-btn"><a>Guest <i class="fa-solid fa-caret-down"></i></a></span>
                            <ul class="subnav" id="subnav">
                                <li class="subnav__item">
                                    <a class="icon__group" href="">
                                    <div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
                                    <span>Cart</span>
                                    </a>
                                </li>

                                <li class="subnav__item">
                                    <a class="icon__group" href="{% url 'account:logout' %}">
                                        <div class="icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                                        <span>Login</span>
                                    </a>
                                </li>

                                <li class="subnav__item">
                                    <a class="icon__group" href="{% url 'account:register' %}">
                                        <div class="icon"><i class="fa-regular fa-address-card"></i></div>
                                        <span>Sign up</span>
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>


<script>
    const navbar_toggle = document.querySelector('#subnav-btn')
    const navbar = document.querySelector(navbar_toggle.dataset.selector)

    navbar_toggle.onclick = function () {
        navbar.classList.toggle('active')
    }
</script>