@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100;1,300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --nav-background: #1b1b1b ;
    --item: white; 
    --item-hover: rgb(195, 195, 195);
    --nav-height: 60px;
    --search-background: #373737;
    --search-txt: white;
    --search-icon-background: #8E3200;
    --search-icon: #1b1b1b;
    --icon-background :#D7A86E;
    --icon-color : #8E3200;
    --subnav-background:  #1b1b1b;
    --subnav-item: white;
    --subnav-item-hover: rgb(40, 40, 40);
}

#header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    min-width: 760px;
    background-color: var(--nav-background);
    padding: 0 40px;
}

.nav a, i{
    color:var(--item);
    font-weight: 500;
    transition: all 0.2s;
}

.nav a:hover,
.nav i:hover {
    color: var(--item-hover);
    cursor: pointer;
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#nav__logo a{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    transition: all 0.4s ease-in-out;
}
#nav__logo:hover a {

}

/* search box */
.search-box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    background-color: var(--search-background);
    padding: 5px;
}

.search-box:hover .search-txt {
    width: 180px;
    padding-left: 15px;
}
.search-box:hover .search-btn {
    background-color: var(--search-icon);
}

.search-btn {
    cursor: pointer;
    color: brown;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: var(--search-txt);
    padding: 0;
    width: 0;
    transition: 0.4s ease-in-out;
}

/* nav options */
.subnav_conatainer {
    position: relative;
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_avatar {
    background-color: var(--icon-background);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

/* subnav */
.subnav {
    padding: 10px 10px;
    background-color: var(--subnav-background);
    position: absolute;
    left: -50px;
    top: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 15px -3px;
    min-width: 170px;
    display: none;
}

.subnav.active {
    display: block;
}

.subnav .icon__group {
    display: flex;
    gap: 10px;
}

.subnav .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-background);
}

.subnav__item {
    padding: 10px 10px;
}

